.navBar {
    padding: 20px;
    background-color: rgba(234, 234, 234, 0);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #b6b6b6
}

.logo {
    width: 100px;
}

.dropdown button {
    color: #000;
    text-decoration: none;
    margin-right: 40px;
    padding: 8px;
}

.dropdown button:hover {
    color: #FE7D05;
}


.navBar a {
    text-decoration: none;
    margin-right: 40px;
    color: #000;
    transition: ease 0.3s;
}

.navBar a:hover {
    color: #FE7D05;
}



.navDropdownItem {
    border-radius: 5px;
    font-size: 20px;
}


.languageBtn {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    margin: auto 0;
    cursor: pointer;
    position: relative;
}

.languageBtn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #b6b6b6;
}

.languageDropdown {
    width: 32px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: 0px;
}